// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  // cards that aren't listed on gatherer
  background-size: cover;
  background-repeat: none;

  &.metaverse-698564 {
    background-image: image-url("Forest266.jpg");
  }
  &.metaverse-698572 {
    background-image: image-url("Mountain262.jpg");
  }
  &.metaverse-698568 {
    background-image: image-url("Island254.jpg");
  }

  .card-text {
    width: 90%;
    height: 40%;
    margin: 80% 5% 5% 5%;
    background: rgba(255,255,255,0.75);
  }

  .card-hover {
    display: none;
    z-index: 100;
    float: left;
    position: relative;
    margin-top: -20%;
    left: -20%;
    width: $card-width * $card-hover-ratio;
    height: $card-width * $card-hover-ratio * $card-height-ratio;
    box-shadow: 3px 3px 10px rgba(0,0,0,1);
    border-radius: 7px;

    .card {
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 7px;

      .card-text {
        display: block;
      }
    }
  }

  &:hover {
    .card-hover {
      display: inline-block;
    }
    .card-text {
      display: none;
    }
  }
}

.my-board {
  .card {
    .card-hover {
      margin-top: -120%;
    }
  }
}
