.board {
  height: (100% - $turn-height - $my-board-height - $my-actions-height);
  // overflow-y: auto;
  display: block;
  clear: both;

  .hand ul {
    display: none;
  }

  &.priority-player {
    .player {
      .info {
        .player-box {
          h2, h3, h4 {
            font-weight: bold;
          }
        }
      }
    }
  }

  &.current-player {
    .player {
      .info {
        .player-box {
          background: #fcc;
          border: 1px solid #c99;
        }
      }
    }
  }

  &.my-board {
    height: $my-board-height;

    .hand ul {
      display: block;
    }
  }

  .player {
    clear: both;

    .battlefield, .hand {
      h3 {
        margin: 10px 0;
      }
    }

    .info {
      width: $info-width;
      float: left;
      padding: 10px;

      h2 { font-size: 100%; }
      h3, h4 { font-size: 80%; }

      h2, h3, h4 {
        text-align: center;
      }

      .player-box {
        border: 1px solid #ccc;
        background: #eee;
        padding: 5px;
        width: 100%;
        border-radius: 10px;

        h2, h3, h4 {
          margin: 0;
          padding: 0;
          font-weight: normal;
        }
      }

      .deck, .graveyard {
        padding: 10px 0;

        h3, h4 {
          margin: 0;
          padding: 0;
        }
      }
    }

    .battlefield, .hand {
      width: (100% - $info-width);
      float: right;
      text-align: center;
      // overflow-x: auto;
      // overflow-y: none;

      .battlefield, .hand {
        width: 100%;
      }

      h3 {
        font-size: 100%;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li.card-parent {
          display: inline-block;
          padding: 3px;
          width: $card-width;
          height: $card-width * $card-height-ratio;
          vertical-align: top;

          &.has-enchantments {
            margin-right: 10px;
          }

          &.is-tapped {
            margin: 0 15px;
            &.has-enchantments {
              margin-right: 15px;
            }
          }

          .card {
            display: block;
            position: relative;
            background-repeat: none;
            background-size: cover;
            width: 100%;
            height: 100%;

            &.is-tapped {
              // TODO this gives all tapped cards an additional stacking context
              // causing weird overlap issues.
              // http://stackoverflow.com/questions/16433864/do-css-transformed-elements-have-default-z-index
              // the solution is to give `.card { transform: rotate(0) }`
              // making ALL cards have a stacking context
              // but this messes up even more and is even harder to fix.
              transform: rotate(90deg);

              .card {
                transform: rotate(0);
              }

              &:hover {
                transform: rotate(0);
              }
            }

            .card-text {
              position: relative;
              width: 90%;
              height: 40%;
              top: 55%;
              left: 5%;
              background: rgba(255,255,255,0.75);
              font-size: 80%;
              text-align: left;
            }

            .card-hover {
              display: none;
              position: relative;
              float: left;
              top: -20%;
              left: -20%;
              z-index: 1000;
              width: $card-width * $card-hover-ratio;
              height: $card-width * $card-hover-ratio * $card-height-ratio;

              .card {
                position: absolute;
              }
            }

            &:hover {
              .card-hover {
                display: inline-block;
                .card-text {
                  display: block;
                }
              }
              .card-text {
                display: none;
              }
            }
          }

          .enchantments {
            position: absolute;

            li {
              position: relative;
              top: -15px;
              right: -5px;
            }
          }

        }

      }
    }
  }
}
