// Place all the styles related to the duel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#app {
  // @import "cards";

  display: block;
  // border: 1px solid #ccc;
  height: $app-height;
  overflow-y: auto;

  .root { height: 100%; }
  .duel { height: 100%; }
  .loadingWrapper { height: 100%; }
  .loadingWrapper:first-child { height: auto; }

  nav {
    display: none;

    &.websocket-status {
      display: block;
      background: red;
      padding: 10px;

      &.loaded {
        display: none;
      }
    }
  }

  .duel {
    .boards, .logs {
      height: 100%;
      overflow-y: auto;
    }

    .duel-boards {
      width: 80%;
      height: 100%;
      float: left;
      display: block;

      @import "duel-board";
      @import "duel-turn";
      @import "duel-actions";
    }

    @import "duel-logs";
    @import "duel-cards";
    @import "duel-stack";

  }
}
